<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h4 class="modal-title"><strong>{{ $root.building.name }}</strong> - Crear un nuevo contrato</h4>
</div>
<div class="modal-body">

  <form id="form-create" class="form-create" name="form" ng-submit="edit(form)" novalidate>
    <div class="row">

      <div class="form-group col-md-6">
        <label for="name">Unidad</label>
        <ui-select ng-model="contract.unit" ng-disabled="disabled">
          <ui-select-match placeholder="Select">{{$select.selected.local}}</ui-select-match>
          <ui-select-choices repeat="unit in units | filter: $select.search">
            <span ng-bind-html="unit.local | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="form-group col-md-6">
        <label for="name">Cliente</label>
        <ui-select ng-model="contract.customer" ng-disabled="disabled">
          <ui-select-match placeholder="Select or search a cliente in the list...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="customer in customers | filter: $select.search">
            <span ng-bind-html="customer.name | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="form-group col-md-6">
        <label for="start_date">Fecha de Inicio</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
          <input type="text" class="form-control" id="start_date" uib-datepicker-popup ng-model="contract.startDate" placeholder="yyyy-mm-dd" is-open="start_open" ng-click="start_open=true"  show-button-bar="false" show-weeks="false" style="width: 300px;">
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="end_date">Terminacion</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
          <input type="text" class="form-control" id="end_date" uib-datepicker-popup ng-model="contract.endDate" placeholder="yyyy-mm-dd" is-open="end_open" ng-click="end_open=true"  show-button-bar="false" show-weeks="false" style="width: 300px;">
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="monthly_rent">Renta Mensual</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="number" class="form-control" id="monthly_rent" ng-model="contract.monthlyRent" placeholder="Renta Mensual" />
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="deposit">Deposito</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="number" class="form-control" id="deposit" ng-model="contract.deposit" placeholder="Deposito" />
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="maintenance_fee">Cuota de Mantenimiento</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="number" class="form-control" id="maintenance_fee" ng-model="contract.maintenanceFee" placeholder="Cuota de Mantenimiento" />
        </div>
      </div>
<!--       <div class="form-group col-md-3">
        <label for="currency">Moneda</label>
        <select class="form-control" id="currency" name="currency" ng-model="contract.currency">
          <option value="" disabled selected hidden>Seleccionar...</option>
          <option value="pesos">Pesos (MXN)</option>
          <option value="dolares">Dólares (USD)</option>
        </select>
      </div> -->
      <div class="form-group col-md-3">
        <label for="payment_method">Metodo de Pago</label>
        <input type="text" class="form-control" id="payment_method" ng-model="contract.paymentMethod" placeholder="Metodo de Pago"/>
      </div>
      <div class="form-group col-md-3">
        <label for="tax-rate">IVA (%)</label>
        <div class="input-group">
          <input type="number" class="form-control" id="tax-rate" ng-model="contract.taxRate" value='16'placeholder="IVA" />
          <div class="input-group-addon">%</div>
        </div>
      </div>

      <div class="form-group col-md-3">
        <label for="margins_day">Dias de Margen</label>
        <input type="number" class="form-control" id="margins_day" ng-model="contract.marginsDay" placeholder="Dias de Margen"/>
      </div>
      <div class="form-group col-md-3">
        <label for="tax_overdue">Impuesto Moratorio</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="number" class="form-control" id="tax_overdue" ng-model="contract.taxOverdue" placeholder="Cuota de Mantenimiento" />
        </div>
      </div>

      <!--<div class="form-group col-md-3">
        <label for="guarantee">Garantia</label>
        <input type="text" class="form-control" id="guarantee" ng-model="contract.guarantee" placeholder="Garantia"/>
      </div> -->

      <div class="form-group col-md-12">
        <label for="notes">Notas</label>
        <textarea class="form-control" id="notes" rows="4" ng-model="contract.notes" placeholder="Notas"></textarea>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="">E</button>
  <button class="btn btn-primary" type="submit" form="form-create">Editar</button>
</div>
