/*sidebar navigation*/
.side-nav {
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  width: 240px;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-bottom: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f6f8f9;
  box-shadow: 1px 1px 5px rgba(0,0,0,.15);
  z-index: 1030;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.side-nav.hide-left-bar {
  margin-left: -240px !important;
}

.side-nav::-webkit-scrollbar {
  display: none;
}

.side-nav>li>a {
  display: block;
  padding: 18px 0 18px 25px;
  text-decoration: none;
  color: #777;
  width: 240px;
  outline: 0;
  list-style: none;
  -webkit-transition:
    color .25s linear,
    background-color .25s linear;
  transition:
    color .25s linear,
    background-color .25s linear;
}

.side-nav>li>a:hover,
.side-nav>li>a:focus {
  color: #333;
  background-color: #eee;
}

.side-nav>li.active>a,
.side-nav>li.active>a:hover,
.side-nav>li.active>a:focus {
  color: #555;
  background-color: #fff;
  border-left: 5px solid #ff9f5f;
}

.side-nav>li>ul {
  padding: 0;
}

.side-nav>li>ul>li>a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #777;
}

.side-nav>li>ul>li>a:hover,
.side-nav>li>ul>li>a:focus {
  color: #333;
}
